<?xml version="1.0"?>
<!--
/**
 * @category   Ktplnew
 * @package    Ktplnew_RequestForQuote
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="ktplnew_requestforquote::core" title="Request For Quote" module="Ktplnew_RequestForQuote" sortOrder="90" resource="Ktplnew_RequestForQuote::sample"/>
        <add id="ktplnew_requestforquote::test" title="Request For Quote" module="Ktplnew_RequestForQuote" sortOrder="1" parent="ktplnew_requestforquote::core" action="ktplnew_requestforquote/items/" resource="Ktplnew_RequestForQuote::items"/>
		<add id="ktplnew_requestforquote::configuration" title="Configuration" module="Ktplnew_RequestForQuote" resource="Ktplnew_RequestForQuote::config_requestforquote" parent="ktplnew_requestforquote::core" sortOrder="2" action="admin/system_config/edit/section/ktplnew_config/"/>
    </menu>
</config>
